@use "abstracts/" as *;
[name="guide"] {
  summary {
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
  }
  ~ details {
    margin-top: 20px;
  }
  &[open] {
    border: 1px solid #000;
    summary + * {
      padding: 10px;
      font-size: rem(16);
    }
  }
}
