@use "../abstracts/" as *;
@layer layout.Align {
  .align {
    display: flex;
    &.right {
      justify-content: flex-end;
    }
    &.center {
      justify-content: center;
    }
    &.both {
      justify-content: space-between;
    }

    //왼쪽 오른쪽 가운데
    &.triple {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      > :nth-child(1) {
        justify-self: start;
      }
      > :nth-child(2) {
        justify-self: center;
      }
      > :nth-child(3) {
        justify-self: end;
      }
    }

    //Y축정렬
    &.vt {
      align-items: flex-start;
    }
    &.vm {
      align-items: center;
    }
    &.vb {
      align-items: flex-end;
    }
  }

  //텍스트 전용
  .text {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
  .mxauto {
    width: rem(1224);
    margin-inline: auto;
    @include mobile {
      width: 100%;
    }
  }
  .mxauto {
    width: rem(1224);
    margin-inline: auto;
    @include mobile {
      width: 100%;
    }
  }
}
