@use "../abstracts/" as *;
$round: 8, 20, 30, "-full";
@layer Componets.Rounded {
  .rounded {
    @each $size in $round {
      @if $size == "-full" {
        &#{$size} {
          border-radius: rem(1000);
        }
      } @else {
        &#{$size} {
          border-radius: rem($size);
        }
      }
    }
  }
}
