@use "../function" as *;
@use "./background" as *;

@mixin bar($method, $width, $height, $bg, $gap) {
  display: flex;
  align-items: center;
  > * {
    + * {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        width: rem($width);
        height: rem($height);
        margin-inline: rem($gap);

        @if $method == "line" or $method == "l" {
          background-color: $bg;
        } @else if $method == "bg" or $method== "b" {
          @include background($bg);
        } @else {
          @error "방식(line or bg), 가로, 세로, 배경 , 여백순서를 넣어주세요";
        }
      }
    }
  }
}
