@use "./background" as *;
@use "../function" as *;

%iconButtion {
  display: inline-block;
  width: rem(24);
  height: rem(24);
}

@mixin buttonSize($varName, $index) {
  &#{map-get($varName, $index, className)} {
    height: rem(map-get($varName, $index, height));
    font-size: rem(map-get($varName, $index, fontSize));
    padding-inline: rem(map-get($varName, $index, paddingInline));
    border: rem(map-get($varName, $index, borderWidth)) solid;
    font-weight: map-get($varName, $index, fontWeight);
  }
}
@mixin buttonColor($varNmae, $index) {
  &#{map-get($varNmae, $index, className)} {
    background-color: map-get($varNmae, $index, bgColor);
    color: map-get($varNmae, $index, color);
    border-color: map-get($varNmae, $index, borderColor);
  }
}
@mixin buttonIcon($varName, $index) {
  &#{map-get($varName, $index, className)} {
    &::#{map-get($varName, $index, direction)} {
      @include background(map-get($varName, $index, imgName));

      content: "";
      width: rem(map-get($varName, $index, width));
      height: rem(map-get($varName, $index, height));
    }
  }
}
.sns_instagram {
  @extend %iconButtion;
  @include background("ico_sns1.svg", center);
}
.sns_facebook {
  @extend %iconButtion;
  @include background("ico_sns2.svg", center);
}
.sns_youtube {
  @extend %iconButtion;
  @include background("ico_sns3.svg", center);
}
