@use "./a11y-hidden" as *;
@use "./background" as *;

@mixin RadioCheckbox($mapName, $index) {
  #{map-get($mapName, $index, className)} {
    @include a11y-hidden;
    + label {
      @extend %label;

      &::before {
        @include background(map-get($mapName, $index, offImage));
        content: "";
        width: map-get($mapName, $index, width);
        height: map-get($mapName, $index, height);
      }
    }
    &:checked {
      + label {
        &::before {
          @include background(map-get($mapName, $index, onImage));
        }
      }
    }
  }
}
