@use "../function" as *;
@mixin scroll($width, $radius, $color) {
  &::-webkit-scrollbar {
    width: rem($width);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: rem($width);
    // background: rgba(255, 255, 255, 0.5);
    background: $color;
    border-radius: rem($radius);
  }
}
